@font-face {
  font-family: "Excalifont";
  src:
    url("../fonts/excalifont.woff2") format("woff2"),
    url("../fonts/excalifont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Prevents flash of invisible text */
}
